{%extends 'base.html'%}
{%block content%}
<body>
<center>

    <h1>Please choose the option that describes your condition!<br>
        We will be here shortly 🏥👩‍⚕️👨‍⚕️
    </h1>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:red;color:white;height:50px;width:400px;font-size:1vw" name="vaginal_bleed">
            I'm having vaginal bleeding &#129656;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:red;color:white;height:50px;width:400px;font-size:1vw" name="baby">
            I think something is wrong with my baby &#128118;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:red;color:white;height:50px;width:400px;font-size:1vw" name="water-broke">
            I think my water broke &#127754;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:red;color:white;height:50px;width:400px;font-size:1vw" name="pressure">
            I'm feeling a lot of pressure - urge to push &#9888;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:red;color:white;height:50px;width:400px;font-size:1vw" name="pain">
            I am feeling a lot of pain 😩
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:orange;color:white;height:50px;width:400px;font-size:1vw" name="nausea">
            I have some nausea &#129314;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:orange;color:white;height:50px;width:400px;font-size:1vw" name="beeping">
            Something is beeping in my room &#x1f4df;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:orange;color:white;height:50px;width:400px;font-size:1vw" name="foley">
            My foley/Cervidil came out &#129328;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:orange;color:white;height:50px;width:400px;font-size:0.8vw" name="help">
            I need someone help me to care of my baby (swaddling, bath, diaper change…) &#128105;&#8205;&#127868;
        </button>
    </form>

    <form action="/home/"> {% csrf_token %}
        <button style="background-color:white;font-size:2vw">
            &#128281;
        </button>
    </form>
</center>

</body>
{%endblock content%}
