<html>
<body>
<center>

    <h1>Room Number {{room_number}}, How Can we Help You Today? 🏥👩‍⚕️👨‍⚕️</h1>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:black;color:red;height:75px;width:300px" name="sos">
            Emergency -> &#x1F198;
            <- Emergency
        </button>

    </form>

    <form method="GET" action="/medicalneed/"> {% csrf_token %}
        <button style="background-color:red;height:75px;width:300px">
            I have a medical need or an urgent request &#128105;
        </button>
    </form>

    <form method="GET" action="/nonmedicalneed/"> {% csrf_token %}
        <button style="background-color:lightgreen;height:75px;width:300px">
            I have a non-medical need &#x1F6BD;&#x2615;
        </button>
    </form>

    <form method="GET" action="/nonurgentquestion/"> {% csrf_token %}
        <button style=";height:75px;width:300px">
            I have a non-urgent question &#10067;

        </button>
    </form>

    <form action="/roomnumber/"> {% csrf_token %}
        <button style="background-color:white;font-size:2vw">
            &#128281;
        </button>
    </form>
</center>
</body>
</html>