<html>
<body>
<center>

    <h1>Please choose the option that describes your condition!<br>
        We will be here shortly 🏥👩‍⚕️👨‍⚕️</h1>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:orange;color:white;height:50px;width:400px;font-size:1vw" name="bathroom">
            I need help going to the bathroom &#128701;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:lightgreen;color:white;height:50px;width:400px;font-size:1vw" name="linens">
            I would like some linens &#128719;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:lightgreen;color:white;height:50px;width:400px;font-size:1vw" name="food">
            I would like some food or water &#129386;&#128688;
        </button>
    </form>

    <form method="POST" action="/requestsent/"> {% csrf_token %}
        <button style="background-color:lightgreen;color:white;height:50px;width:400px;font-size:1vw" name="settle">
            I need help getting settled into my room &#128587;
        </button>
    </form>

    <form action="/home/"> {% csrf_token %}
        <button style="background-color:white;font-size:2vw">
            &#128281;
        </button>
    </form>
</center>

</body>
</html>